[submodule "Problem-Service"]
	path = Problem-Service
	url = git@github.com:Judge-Girl/Problem-Service.git

[submodule "Streaming-Service"]
	path = Streaming-Service
	url = git@github.com:Judge-Girl/Streaming-Service.git

[submodule "Student-Adapter-Service"]
	path = Student-Adapter-Service
	url = git@github.com:Judge-Girl/Student-Adapter-Service.git

[submodule "Submission-Service"]
	path = Submission-Service
	url = git@github.com:Judge-Girl/Submission-Service.git
	
[submodule "Commons"]
	path = Commons
	url = git@github.com:Judge-Girl/Commons.git

[submodule "Judge-K8S-Web-Service"]
	path = Judge-K8S-Web-Service
	url = git@github.com:Judge-Girl/Judge-K8S-Web-Service.git

[submodule "Judger"]
	path = Judger
	url = https://github.com/Judge-Girl/Judger.git

[submodule "Plugins"]
	path = Plugins
	url = git@github.com:Judge-Girl/Plugins.git
[submodule "Judge-Girl-Test-Kit"]
	path = Judge-Girl-Test-Kit
	url = git@github.com:Judge-Girl/Judge-Girl-Test-Kit.git
