Paste your ~/.kube/config here

apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ???
    server: https://???:8080
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: ???
    client-key-data: ???
